a {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  font-size: 14px;
  color: #006272;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content #contact .content .copy {
    height: auto;
    padding-bottom: 32px;
}

#content #contact .content h2 {
    font-size: 24px;
    height: auto;
}

.copy {
  background: #ccc;
}
