h3 {
  font-size: 24px;
  color: white;
  display: block;
  background: #111;
  padding: 12px 18px;
  border: 1px solid black;
  font-family: "Open Sans", Cabin, Arial, sans-serif;
}

.download, .private_download {
  display: block;
  background: #ccc;
  border: 1px solid #999;
  padding: 8px 16px;
  margin: 18px;
}

.download .title, .private_download .name {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.download a, .private_download a {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  font-size: 14px;
  color: #006272;
  text-decoration: none;
}

.download a:hover, .private_download a:hover {
  text-decoration: underline;
}

.private_download .caption {
  font-size: 14px;
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  color: #333;
  font-style: italic;
}
