#content h1 {
  margin-bottom: 22px;
}

h3 {
  font-size: 24px;
  color: white;
  display: block;
  background: #111;
  padding: 12px 18px;
  border: 1px solid black;
  font-family: "Open Sans", Cabin, Arial, sans-serif;
}

.download, .private_download {
  display: block;
  background: #ccc;
  border: 1px solid #999;
  padding: 8px 16px;
  margin: 18px;
}

.download .title, .private_download .name {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.download a, .private_download a {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  font-size: 14px;
  color: #006272;
  text-decoration: none;
}

.download a:hover, .private_download a:hover {
  text-decoration: underline;
}

.private_download .caption {
  font-size: 14px;
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  color: #333;
  font-style: italic;
}

.user-info {
  background: #0B3D45;
  width: 100%;
  height: 30px;
  font-size: 14px;
  color: #ccc;
}

.user-info div, .user-info a {
  font-family: "Open Sans", Cabin, Arial, sans-serif;
  float: right;
  text-align: right;
  display: block;
  margin: 4px 16px 4px 10px;
  background: #0B3D45;
}

.user-info a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.user-info a:hover {
  text-decoration: underline;
}

.clear-right {
  clear: right;
}

#register, #login {
  background: #ccc;
}
