.user {
  display: block;
  height: 30px;
  width: 400px;
  padding: 4px; 
}

.user.even {
  background: #efefef;
}

.user .inputs {
   float: left;
}

.user .name {
  float: left;
  margin-top: 1px;
  margin-left: 4px;
  font-size: 13px;
}

h1.page-title {
  padding: 8px 16px;
  font-size: 28px;
}
